extends layout
block content
    h1= title
    
    p Results: #{count}
    table.table
      tr
        != createOrdering()
      each genre in genre_list
        tr
          td
            a(href=genre.url) #{genre.name} 

    if (pages > 1)
    .container
      .pagination
        != createPagination(pages, page)