extends layout
block content
    h1= title
    
    p Results: #{count}
    table.table
      tr
        != createOrdering()
      each prize in prize_list
        tr
          td
            a(href=prize.url) #{prize.name} 

    if (pages > 1)
    .container
      .pagination
        != createPagination(pages, page)